[run]
concurrency = multiprocessing
parallel = True
data_file = .coverage

[report]
exclude_lines =
    pragma: no cover
    raise
    if __name__ == .__main__.:

omit =
    */__init__.py
    beam_telescope_analysis/testing/*
    beam_telescope_analysis/converter/*
    beam_telescope_analysis/tools/residuals.py
    beam_telescope_analysis/tools/test_tools.py
    beam_telescope_analysis/tools/deprecated.py
    beam_telescope_analysis/tools/data_selection.py
