[run]
concurrency = multiprocessing
parallel = True
data_file = .coverage

[report]
exclude_lines =
    pragma: no cover 
    raise
    if __name__ == .__main__.:

omit = 
    */__init__.py
    testbeam_analysis/testing/*
    testbeam_analysis/converter/*
    testbeam_analysis/tools/residuals.py
    testbeam_analysis/tools/test_tools.py
    testbeam_analysis/tools/deprecated.py
    testbeam_analysis/tools/data_selection.py
