name: Software tests

on: push

jobs:
  tests:
    name: Test
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: Set up Anaconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.9
    - name: Install Conda dependencies
      shell: bash -l {0}
      run: |
        conda info -a
        conda install pytest cython pytables numpy scipy numba matplotlib pyyaml
    - name: Install pixel clusterizer
      shell: bash -l {0}
      run: |
        pip install pixel_clusterizer
    - name: Install PyLandau
      shell: bash -l {0}
      run: |
        pip install pylandau
    - name: Install git-lfs
      shell: bash -l {0}
      run: |
        sudo apt-get update --fix-missing --allow-releaseinfo-change --allow-unauthenticated
        sudo apt-get install -y curl build-essential
        sudo curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | bash
        sudo apt-get install -y git-lfs
        git lfs install
        git submodule sync --recursive
        git submodule update --init --recursive
    - name: Install package
      shell: bash -l {0}
      run: |
        pip install -e .
    - name: Test
      shell: bash -l {0}
      run: |
        cd beam_telescope_analysis/testing
        pytest -s -v
